body {
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 6px;
}
input, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}
.admin-link {
    margin-top: 15px;
    text-align: center;
}