{% extends "user/base.html" %}

{% block content %}

<h1>Available workflows</h1>

{% for category, workflows in grouped_workflows.items() %}

    <h2>{{ category }}</h2>

    <div style="display: flex; flex-wrap: wrap; gap: 15px;">
        {% for wf in workflows %}

            <div style="background: white; padding: 15px; width: 260px; border-radius: 6px;">
                <h3>{{ wf.name }}</h3>

                <p style="font-size: 14px; color: #555;">
                    {{ wf.spec_json.meta.description if wf.spec_json.meta }}
                </p>

                <small>Version: {{ wf.version }}</small><br><br>

                <a href="/user/workflows/{{ wf.slug }}">
                    <button>Run</button>
                </a>
            </div>

        {% endfor %}
    </div>

{% endfor %}

{% endblock %}